# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# Debug / Release output
Debug/
Release/
x64/
x86/

# NuGet packages
packages/

# Visual Studio Code
.vscode/

# Logs / temporary files
*.log
*.tmp
*.temp

# ReSharper
_ReSharper*/
*.DotSettings.user

# Windows
Thumbs.db